<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppMusic</title>
    <link rel="stylesheet" href="/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h3 class="title">New Music</h3>
    <form method="post" action="/music">
        <input class="inputForm" placeholder="name" type="text" name="name">
        <input class="inputForm" placeholder="artist" type="text" name="artist">
        <input class="inputForm" placeholder="time" type="text" name="time">
        <input  class="buttonSubmit" type="submit" value="Add Music">
    </form>
</body>
</html>