<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AppMusic</title>
    <link rel="stylesheet" href="/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h3 class="title">Songs</h3>

    <div>
        <p class="message" th:text="${ message }" th:if="${ message != null }"></p>
    </div>

    <section class="grid">
        <div class="music" th:each="music : ${ music }">
            <h4 th:text="${ music.name }"></h4>
            <p th:text="${ music.artist }"></p>
            <div class="buttons">
                <button> << </button>
                <button> || </button>
                <button> >> </button>
            </div>
            <details>
                <summary></summary>
                <a th:href="${ '/music/delete/' + music.id }" >Delete</a>
            </details>
        </div>
    </section>
    <a href="/music/new">Add Music</a>
</body>
</html>